@media (min-width: 0px) and (max-width: 567px) {
  #header {
    background-color: black;
    height: 100vh;
    padding-top: 30px;
  }
  #header .logo h1 {
    color: white;
    position: relative;
  }
  #header .logo h1::before {
    content: "";
    position: absolute;
    background-color: crimson;
    width: 30%;
    height: 3px;
    top: -4px;
    left: -10px;
  }
  #header .logo h1::after {
    content: "";
    position: absolute;
    background-color: crimson;
    width: 30%;
    height: 3px;
    bottom: -7px;
    left: 80px;
  }
  #header .logo .boxs {
    display: none;
  }
  #header .logo .boxs-span {
    display: none;
  }
  #header .home {
    position: relative;
  }
  #header .home p {
    color: white;
    position: absolute;
    top: 3rem;
    left: -40%;
  }
  #header .home a {
    position: relative;
    top: 25rem;
    left: -40%;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px 7px;
    color: white;
    text-decoration: none;
    z-index: 999;
  }
  #header .home a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 1s;
    background-color: crimson;
    z-index: -1;
  }
  #header .img-box {
    display: none;
  }
  #header .icon i {
    display: none;
  }
}
@media (min-width: 768px) {
  #header {
    background-color: black;
    height: 100vh;
    padding-top: 30px;
  }
  #header .logo h1 {
    color: white;
    position: relative;
  }
  #header .logo h1::before {
    content: "";
    position: absolute;
    background-color: crimson;
    width: 30%;
    height: 3px;
    top: 0px;
    left: -10px;
  }
  #header .logo h1::after {
    content: "";
    position: absolute;
    background-color: crimson;
    width: 30%;
    height: 3px;
    bottom: -7px;
    left: 80px;
  }
  #header .logo .boxs {
    margin-top: 10rem;
  }
  #header .logo .boxs i {
    display: block;
    font-size: 2rem;
    padding: 15px 0;
    cursor: pointer;
  }
  #header .logo .boxs-span {
    margin-top: 10rem;
    position: relative;
  }
  #header .logo .boxs-span span {
    position: absolute;
    color: white;
    display: block;
    display: none;
  }
  #header .logo .boxs-span span:nth-child(1) {
    padding: 1rem 1rem;
  }
  #header .logo .boxs-span span:nth-child(2) {
    padding: 4rem 1rem;
  }
  #header .logo .boxs-span span:nth-child(3) {
    padding: 9rem 1rem;
  }
  #header .logo .boxs-span span.active {
    display: block;
  }
  #header .home {
    position: relative;
  }
  #header .home p {
    color: white;
    position: absolute;
    top: 30%;
  }
  #header .home a {
    position: relative;
    top: 110%;
    border: 2px solid crimson;
    border-radius: 5px;
    padding: 10px 7px;
    color: white;
    text-decoration: none;
    z-index: 999;
  }
  #header .home a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width 1s;
    background-color: crimson;
    z-index: -1;
  }
  #header .home a:hover::before {
    width: 100%;
  }
  #header .img-box {
    position: relative;
  }
  #header .img-box img {
    position: absolute;
    top: 25%;
    transform: translateX(50px);
    border-radius: 5px;
  }
  #header .icon i {
    cursor: pointer;
  }
  #header .color {
    margin: 2px 5px;
    display: none;
  }
  #header .color p {
    cursor: pointer;
  }
  #header .color p:nth-child(1) {
    border: 10px solid #1DA282;
    border-radius: 10px;
  }
  #header .color p:nth-child(2) {
    border: 10px solid #FF3FB3;
    border-radius: 10px;
  }
  #header .color p:nth-child(3) {
    border: 10px solid orange;
    border-radius: 10px;
  }
  #header .color.active {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */